/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/* Header Styles */
header{
    background-color: #562EFF;
    width: 1440px;
    height: 94px;
}
.header-flex{
display: flex;
justify-content: space-evenly;
align-items: center;
}
.logo img{
    width: 40.42px;
    height: 51px;
}
.nav{
    display: flex;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #ffffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* -----------------
    top blog styles
   ------------------ */
   .blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
}
   .blog{
       display: flex;
       align-items: center;
   }
   .blog .thumbnail img{
       width: 177px;
       height: 117px;
   }
   .blog-info{
       margin-left: 16px;
   }
   .blog-title{
    font-size: 18px;
    width: 164px;
    height: 68px;
   }
   .blog-author{
       font-size: 16px;
       color: #9F9F9F;
   }
   .blog-author a{
       font-size: 16px;
       text-decoration: none;
       color: #562EFF;
   }

   /* ------------
   courses styles
   --------------*/

   .courses{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-column-gap: 24px;
   }
   .course{
       width: 252.42px;
       height: 269.79px;
   }
   .course .course-banner img{
    width: 224px;
    height: 104px;
   }
   .course-info{
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   .fa-star{
       font-size: 12px;
   }
   .fa-star.filled{
       color: #FFC014;
   }
   .fa-star.empty{
       color: #AEAEAE;
   }
  .course-duration{
    color: rgb(235, 55, 85);
    border: 0px solid;
    padding: 1px 12px;
    border-radius: 25px;
    background-color: rgba(235, 55, 85, 0.445);
   }

   /* Media Queries */

   /* Mobile Device */

   @media only screen and (max-width:688px) {
       .container{
           width: 100%;
       }
       .players, .blogs, .courses{
           grid-template-columns: repeat(1, 1fr);
       }
       .player, .blog, .course{
           flex-direction: column;
       }
    }

    /* Tablet Device */

       @media only screen and (min-width:689px) and (max-width:992px) {
        .container{
            width: 100%;
        }
        .players, .courses{
            grid-template-columns: repeat(2, 1fr);
        }
        .blogs{
            grid-template-columns: repeat(1, 1fr);
        }
        .player, .blog, .course{
            justify-content: center;
        }
       }